Flask==0.10.1
Jinja2==2.7
MarkupSafe==0.18
PyRSS2Gen==1.0.0
Twisted==12.0.0
Werkzeug==0.9.1
altgraph==0.9
bdist-mpkg==0.4.4
gunicorn==17.5
itsdangerous==0.22
macholib==1.4.2
modulegraph==0.9.1
numpy==1.6.1
py2app==0.6.3
pyOpenSSL==0.13]
python-dateutil==1.5
virtualenv==1.9.1
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
